n8n-workflows/agent-workflows.json
 {
    "name": "Trinity Agent Automation",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 1
              }
            ]
          }
        },
        "name": "Hourly Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "url": "https://api.example.com/jobs/feed",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "name": "Fetch Job Feed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [450, 300]
      },
      {
        "parameters": {
          "fieldToSplitOut": "jobs",
          "options": {}
        },
        "name": "Split Jobs",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 1,
        "position": [650, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.category }}",
                "operation": "contains",
                "value2": "AI,ML,Development"
              }
            ]
          }
        },
        "name": "Filter Relevant Jobs",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [850, 300]
      },
      {
        "parameters": {
          "url": "={{ $env.TRINITY_API_URL }}/api/agent/jobs",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "requestMethod": "POST",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "description",
                "value": "={{ $json.description }}"
              },
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "budgetMin",
                "value": "={{ $json.budget.min }}"
              },
              {
                "name": "budgetMax",
                "value": "={{ $json.budget.max }}"
              }
            ]
          }
        },
        "name": "Save Job",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [1050, 200]
      },
      {
        "parameters": {
          "url": "={{ $env.TRINITY_API_URL }}/api/agent/proposals",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "requestMethod": "POST",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "jobId",
                "value": "={{ $json.data.id }}"
              },
              {
                "name": "template",
                "value": "standard"
              }
            ]
          }
        },
        "name": "Generate Proposal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [1250, 200]
      }
    ],
    "connections": {
      "Hourly Trigger": {
        "main": [[{ "node": "Fetch Job Feed", "type": "main", "index": 0 }]]
      },
      "Fetch Job Feed": {
        "main": [[{ "node": "Split Jobs", "type": "main", "index": 0 }]]
      },
      "Split Jobs": {
        "main": [[{ "node": "Filter Relevant Jobs", "type": "main", "index": 0 }]]
      },
      "Filter Relevant Jobs": {
        "main": [
          [{ "node": "Save Job", "type": "main", "index": 0 }],
          []
        ]
      },
      "Save Job": {
        "main": [[{ "node": "Generate Proposal", "type": "main", "index": 0 }]]
      }
    }
  }